@{
    ViewBag.Title = "Void";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Void</h2>

<p>Canceled.</p>


@*<p><a href="/">Start over</a></p>*@
<p><a href="@Url.Action("Index", "Cart")" ><span>Start Over</span></a></p>
